.Body {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    /* background-image: url('../../../Images/NativeBackground.jpg'); */
    /* background-size: 100% 100%; */
    background-position: right 50% bottom 50%;
}

.Container {
    position: absolute;
    top: 5%;
    left: 2%;
    width: 98%;
    display: grid;
    grid-template-columns: 140px 20px 140px 40px 140px 80px 140px 115px 140px;
    grid-template-rows: 8 4 16 8 8 4 4 2;
}

.Bracket {
    width: 140px;
    height: 20px;
    color: rgb(37, 33, 4);
    font-size: 17px;
    text-align: center;
    line-height: 0px;
    background: 
     linear-gradient(to right, rgb(55, 109, 112), rgb(142, 180, 178) 30% 70%, rgb(55, 109, 112)) padding-box, 
     linear-gradient(to left, rgb(49, 49, 3), rgb(85, 85, 83), rgb(49, 49, 3)) border-box;
    border: 3px solid transparent;
    border-radius: 2px;
}

/* .Bracket {
    border: 1px solid black;
    border-right: none;
    width: 140px;
    text-align:unset;
    background-color: rgba(167, 187, 187, 0.738); 
    height: 20px;
} */

.BufferBracket::before {
    position: relative;
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    border-right: 4px solid rgb(4, 4, 71);
    border-top: 4px solid rgb(4, 4, 71);
    transform: rotate(45deg);
    margin-right: 6px;
    margin-top: 12px;
}
.BufferBracketTwo {
    position: relative;
    content: '';
    display: inline-block;
    width: 55px;
    height: 55px;
    border-right: 8px solid rgb(4, 4, 71);
    border-top: 8px solid rgb(4, 4, 71);
    transform: rotate(45deg);
}
.BufferBracketThree {
    position: relative;
    content: '';
    display: inline-block;
    width: 92px;
    height: 92px;
    border-right: 16px solid rgb(4, 4, 71);
    border-top: 16px solid rgb(4, 4, 71);
    transform: rotate(45deg);
    margin-left: -20px;
    margin-top: 52px;
}
.BufferBracketFour {
    position: relative;
    content: '';
    display: inline-block;
    border-right: 24px solid rgb(4, 4, 71);
    border-top: 24px solid rgb(4, 4, 71);
    transform: rotate(45deg);
}


.Prelims {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(8, 40px);
    margin-top: 20px;
}

.Prelims .Bracket:nth-child(odd) {
    margin-top: 20px;
    border-bottom: none;
}
.Prelims .Bracket:nth-child(even) {
    border-top: none;
}

.Prelims .Bracket:nth-child(3) {
    margin-top: 100px;
}
.Prelims .Bracket:nth-child(4) {
    margin-top: 80px;
}
.Prelims .Bracket:nth-child(5) {
    margin-top: 100px;
}
.Prelims .Bracket:nth-child(6) {
    margin-top: 80px;
}
.Prelims .Bracket:nth-child(7) {
    margin-top: 180px;
}
.Prelims .Bracket:nth-child(8) {
    margin-top: 160px;
}
.Prelims .Bracket:nth-child(9) {
    margin-top: 260px;
}
.Prelims .Bracket:nth-child(10) {
    margin-top: 0px;
}
.Prelims .Bracket:nth-child(11) {
    margin-top: -280px;
}
.Prelims .Bracket:nth-child(12) {
    margin-top: -260px;
}




.PrelimBuffer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, 40px);
}

.PrelimBuffer .BufferBracket:nth-child(1) {
    margin-top: 40px;
}
.PrelimBuffer .BufferBracket:nth-child(2) {
    margin-top: 160px;
}
.PrelimBuffer .BufferBracket:nth-child(3) {
    margin-top: 200px;
}
.PrelimBuffer .BufferBracket:nth-child(4) {
    margin-top: 320px;
}
.PrelimBuffer .BufferBracket:nth-child(5) {
    margin-top: 440px;
}


.RoundOf16 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(16, 40px);

}



.RoundOf16 .Bracket {
    height: 40px;
}


.RoundOf16 .Bracket:nth-child(even) {
    border-top: none;
}
.RoundOf16 .Bracket:nth-child(odd) {
    border-bottom: none;
}

.RoundOf16Buffer .BufferBracketTwo:nth-child(1) {
    height: 0px;
    margin:  56px 0px 0px -9px;
}
.RoundOf16Buffer .BufferBracketTwo:nth-child(2) {
    width: 0px;
    margin: 0px 0px 0px 18px;
}
.RoundOf16Buffer .BufferBracketTwo:nth-child(3) {
    height: 0px;
    margin:  81px 0px 0px -9px;
}
.RoundOf16Buffer .BufferBracketTwo:nth-child(4) {
    width: 0px;
    margin:  0px 0px 0px 18px;
}
.RoundOf16Buffer .BufferBracketTwo:nth-child(5) {
    height: 0px;
    margin:  81px 0px 0px -9px;
}
.RoundOf16Buffer .BufferBracketTwo:nth-child(6) {
    width: 0px;
    margin:  0px 0px 0px 18px;
}
.RoundOf16Buffer .BufferBracketTwo:nth-child(7) {
    height: 0px;
    margin:  81px 0px 0px -9px;
}
.RoundOf16Buffer .BufferBracketTwo:nth-child(8) {
    width: 0px;
    margin:  0px 0px 0px 18px;
}


.RoundOf8 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(8, 80px);

}

.RoundOf8 .Bracket {
    
    height: 40px;
}

.RoundOf8 .Bracket:nth-child(even) {
    margin-top: none;
    border-top: none;
}
.RoundOf8 .Bracket:nth-child(odd) {
    margin-top: 40px;
    border-bottom: none;
}

.RoundOf8Buffer .BufferBracketThree {
    width: 110px;
    height: 110px;
}
.RoundOf8Buffer .BufferBracketThree:nth-child(1) {
    height:  0px;
    margin:  113px 0px 0px -15px;
}
.RoundOf8Buffer .BufferBracketThree:nth-child(2) {
    width: 0px;
    margin:  4px 0px 0px 40px;
}
.RoundOf8Buffer .BufferBracketThree:nth-child(3) {
    height: 0px;
    margin:  166px 0px 0px -15px;
}
.RoundOf8Buffer .BufferBracketThree:nth-child(4) {
    width: 0px;
    margin: 4px 0px 0px 40px;
}

.RoundOf4 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, 160px);
}
.RoundOf4 .Bracket {
    height: 40px;
}

.RoundOf4 .Bracket:nth-child(even) {
    
    border-top: none;
}
.RoundOf4 .Bracket:nth-child(odd) {
    margin-top: 120px;
    border-bottom: none;
}



.RoundOf4Buffer .BufferBracketFour:nth-child(1) {
    width: 175px;
    height: 0px;
    margin:  228px 0px 0px -41px;
    transform: rotate(60deg);


}
.RoundOf4Buffer .BufferBracketFour:nth-child(2) {
    width: 0px;
    height: 175px;
    margin:  45px 0px 0px 47px;
    transform: rotate(30deg);

}

.RoundOf2 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, 320px);

}
.RoundOf2 .Bracket {
    text-align: center;
    height: 40px; 
}

.RoundOf2 .Bracket:nth-child(1) {
    margin-top: 280px;
}

.Winner {
    position: absolute;
    top: 40%;
    width: 25%;
    width: 320px;
    right: 2%;
    height: 160px;
    border: 1px solid black;
    background-color: rgba(179, 179, 54, 0.753);
    color: black;
    font-size: 45px;
    font-weight: bolder;
    text-align: center;
    border-radius: 24px;
}
.Winner img {
    height: 100%;
    width: 100%;
    border-radius: 24px;
}


.HomeHolder {
    position: absolute;
    width: 180px;
    height: 40px;
    top: 5%;
    right: 5%;
    transition: 30s ease-in-out;
}
.HomeHolder:hover {
    transform: scale(10.1);
    cursor: pointer;
}

.HomeButton {
    width: 180px;
    height: 40px;
    color: rgb(161, 142, 31);
    font-size: 25px;
    text-align: center;
    line-height: 40px;
    background: 
     linear-gradient(to right, rgb(66, 20, 3), rgb(128, 42, 11) 30% 70%, rgb(66, 20, 3)) padding-box, 
     linear-gradient(to left, rgb(112, 99, 25), rgb(206, 176, 6), rgb(128, 112, 25)) border-box;
    border: 3px solid transparent;
    border-radius: 8px;
}


.HomeFont {
    margin: 0;
    padding: 0;

}

.HomeButton:hover .HomeFont {
    animation: textDance 1s linear;
}

@keyframes textDance {
    0% {transform: scale(1, 1);}
    20% {transform: scale(1, .5);}
    40% {transform: scale(1, 1);}
    60% {transform: scale(1, .5);}
    80% {transform: scale(1, 1);}
}

@media (max-width: 800px) {
    
    .Body {
        width: 1000px;
        height: 120vh;  
    }
    
    .Winner {
        top: 90%;
        right: 7%;
    }
}

@media (max-height: 400px) {
    .Body {
        width: 1000px;
        height: 700px;

    }
    .Winner {
        top: 15%;
        right: calc(5% - 4px);
        width: 180px;
        height: 90px;
    }
}